/* Styles for across the website */
* {
    box-sizing: border-box;
}


body {
    background-color: white;

}



header{
    font-family: 'DIN Alternate', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgba(10, 54, 65, 1);
    font-size: x-large;
    text-align: center;
    display: flex;
    justify-content: center;
}

.icons {
    color:rgba(10, 54, 65, 1);
}

.icons a {
    color: rgba(10, 54, 65, 1);
}


nav a:hover {
    text-decoration: underline;
}


.active {
    text-decoration: underline;
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 25px;
    margin-right: 25px;
    white-space: nowrap;
}

.icons {
    margin-left: auto;
}

.icons a img {
    width:30px;
    margin-right: -50px;
    color:rgba(10, 54, 65, 1);
}

nav ul li.logo {
    flex-grow: 1;
    text-align: center;
}

nav ul li.logo img {
    width: 150px;
}


nav ul li {
    margin: 0 20px;
}


h1, h2, h3, h4 {
    font-family: 'DIN Alternate', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgba(10, 54, 65, 1);
    font-size: xx-large;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 25px;
}

p {
    font-family: 'DIN Alternate', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: large;
    color:rgba(10, 54, 65, 1);
    text-align: left;
    margin: 5%;
}

nav li {
    display: inline-block;
}

button {
    font-family: 'DIN alternate', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: x-large;
    text-align: center;
    background-color: white;
    display: flex;
    border-radius: 15px;
    border-color: rgba(10, 54, 65, 0.29);
    height: auto;
    width: auto;
    cursor: pointer;
    margin:auto;
    }

#viewbutton {
    font-family: 'DIN Alternate', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: larger;
    text-decoration: none;
    color: rgba(10, 54, 65, 1);
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    border-color: rgba(10, 54, 65, 0.4);
}

nav a {
    color: rgba(10, 54, 65, 1);
    text-decoration: none;
    padding: 25px;
}



footer {
    background-color: rgba(10, 54, 65, 0.49);
    color: white;
    font-family: 'DIN Condensed', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: x-large;
    text-align: center;
    padding: 10px;
}

.footerlist {
    display: flex;
    justify-content: space-between;
    padding: 50px;
    margin: 0;
    list-style: none;
}


.footertextcolor {
    color: white;
    font-family: 'DIN Condensed', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: x-large;
}

#footerabout {
    width: auto;
    height: auto;
    display: inline-block;
    font-family: 'DIN condensed', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: large;
    color:white;
}

.box {
    display:flex;
    align-items:center;
    justify-content:left;
    height: 2vh;
    font-family: 'Din Condensed', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:white;
}

.form-box {
    border-radius: 30px;   
}

.form-box input {
    font-size:small;
    padding:10px 35px;
    border: none;
    outline: none;
    background:rgba(10, 54, 65, 0.29);
    color: white;
}

.form-box button {
    color: white;
    padding: 5px 10px;
    font-size: small;
    border: white;
    background-color: rgba(10, 54, 65, 0.79);
    border-radius: 5px;
    cursor: pointer;
}



.footerlist li {
    position: relative;
}

.footerlist li ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display:block;
}

.footerlist li ul li {
    display:block;
    margin-bottom: 10px;
    padding-top: 10px;
    gap: 5px;
    margin-right: 15px;
    
}

.footerlist li.about ul {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 100%;
    left: 0;
  }

  

.follow-us {
    white-space: nowrap;
}

.footerlist li .instalogo {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.instalogo {
    width: 50%;
    margin-top: 25px;
}

img {
    width:100%;
}

#signuptxt {
    font-family: 'DIN Condensed', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    font-size: large;
    text-align: left;
    justify-content: flex-start;
    margin-left: 20px;
    margin-bottom: -10px;

}

section form {
    text-align: left;
}

section form .input-container {
    display: flex;
    align-items: center;
}

label {
    margin-right: 10px;
}


#email {
    background-color: rgba(10, 54, 65, 0.49);
    color: white;
    padding: 8px 16px;
    border: white;
    border-radius: 5px;
    
}

.subscribebutton {
    font-family: 'DIN condensed';
    background-color: rgba(10, 54, 65, 1);
    color: white;
    font-size: medium;
    border-radius: 3px;
    text-align: center;
    justify-content:flex-start;
    margin-left:0;
    padding: 4px;
}

.subscribe-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.subscribe-section form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.bottomlogo {
    width: 10%;
    margin-left: 25px;
    margin-top: 10px;

}


/* Home Page */


.products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-between;
    padding: 20px;
}

.products a {
    display:block;
    padding: 35px;
}


.product {
    max-width: 100%;
    height: auto;
}

.imghiking {
    margin-top: 40px;
}

/* End of home page */



/* Product page */

.filterbutton {
    width: auto;
    height: auto;
    display: inline-block;
    font-size: large;
    font-family: 'DIN Alternate', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 0px;
}

.filterrow {
    background:rgba(10, 54, 65, 0.1);
    padding: px;
    margin: 0;
}



.product-image img {
    background-color: rgba(10, 54, 65, 0.05);
    border-radius: 10px;
    object-fit:fill;
    height: 250px;
    width: 225px;
}



.h2text {
    font-size: x-large;
    text-align: left;
    justify-content: left;
    margin-left: 45px;
    margin-bottom: -13px;
}

.p1 {
    font-size: medium;
    text-align: left;
    margin-bottom: -20px;
    margin-left: 45px;
    margin-top: -30px;
}

.p2 {
    font-size: large;
    text-align: left;
    margin-bottom: 50px;
    margin-left: 45px
}

/* End of product page */


/* Jacket specific */

.row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    margin-top: 60px;

}

.column1 {
    grid-column: 1/2;
}


.column-text h1 {
    margin:0;
}


.row2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    align-items:stretch;
}

.column2 {
    grid-column: 2/3;
    width: 100%;
}

.column-inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.column2-text {
    margin-top:0;
    padding: 0;
}

.column3 {
    grid-column: flex;
}

#instoretxt {
    font-size: small;
    color: green;
    margin-top: 10px;
}

.size-row {
    display: flex;
}

.size-row button {
    width: 40px;
    height: 25px;
    margin-right: -20px;
    margin-left: 30px;
    margin-bottom: 25px;
    border-radius: 0px;
    border-color: rgba(10, 54, 65, 1);
    background-color: none;
    font-size: medium;
    justify-content: center;

}

.cartbutton {
    font-family: 'DIN CONDENSED', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    border: rgba(10, 54, 65, 1);
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 7px;
    margin-bottom: 4px;
    justify-content: left;
    background: rgba(10, 54, 65, 1);
    display:inline-flex;
    text-align: center;
    border-radius: 10px;
    
}

#Mfilter {
    text-decoration: none;
    background-color: rgba(10, 54, 65, 0.5);
}

#Mfilternone {
    text-decoration: none;
}

.relatedjackets {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: 70%;
    height: auto;
    gap: 30px;
    margin: 0 auto;
    padding-bottom: 50px;
    padding-top: 20px;
}



#orangeandgrey {
    font-size: medium;
    color: rgba(10, 54, 65, 0.55);
    justify-content: left;
    margin-left: 30px;
}

#NOKtxt {
    text-align: right; 
    margin-right: -240px;
}

#choosesize {
    font-size: large;
    text-align: right;
    text-decoration: underline;
}

#relatedtext {
    margin-top: 75px;
    margin-bottom: 35px;
}

#h1txt {
    font-size: xx-large;
    justify-content: right;
}

/* End of Jacket specific */

/* About Page */


.ourhistorysmall {
    margin-top: 50px;
}

.aboutpictures {
    max-width: 70%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
    align-items: center;
    margin: 5% auto;
}

.p-vision {
    font-size: large;
    justify-content: center;
    text-align:justify
    
}


/* End of About Page */



/* Contact Page */

form {
    padding:1rem;
    max-width: 800px;
    margin: 0 auto;
}


.col {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

label {
    margin-bottom: 0.5rem;
    font-weight: bold;
}



.submit-form {
    font-family: 'DIN Alternate', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-top: 20px;
    color: rgba(10, 54, 65, 1); 
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px,1fr));
    grid-template-rows: repeat(5, auto);
    gap: 2rem;
    margin: 5%;
 }
 
 #submitbutton {
     background: rgba(10, 54, 65, 0.79);
     font-family: 'DIN Alternate', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     color: white;
     border-radius: 0%;
     padding: 5px;
     font-size: large;
     grid-row:6;
     grid-column: 1/3;
     width: 1000px;
     max-width: 1100px;
     justify-content: center;
     margin-left: -3px;
     border: none;
     margin-bottom: 2%;
 }
 
textarea {
    font-family: 'DIN Alternate', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#name, #email1, #subject, #phone, #message {
    font-size: medium;
    padding: 10px;
    font-family: 'DIN Alternate', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    max-width: 400px;
}

/* end of contact page */





/* checkout */

.form4 {
    font-family: 'DIN Condensed', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: large;

}
.row4 {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}
.col4 {
    flex: 50%;
    padding: 0 15px;
    box-sizing: border-box;
}
.cart-info {
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}
.shipping-info {
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 10px;
}
.checkout-button {
    background-color: rgba(10, 54, 65, 1);
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#shippingtxt {
    font-family: 'DIN Condensed';
    text-decoration: underline;
}


input[type=text], input[type=email], input[type=phone], select {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;

}


.checkoutjacket {
    width: 150px;
    background-color: rgba(10, 54, 65, 0.22);
    border-radius: 10px;
    margin-left: 50px;
    margin-top: 15px;
}

#shoppingcart {
    font-family: 'DIN Condensed', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: xx-large;
}

#req {
    font-family: 'DIN Condensed';
}

#product {
    font-family: 'DIN Alternate', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: left;
    justify-content: left;
    margin-left: 50px;
    font-size: large;

}

#rjacket {
    font-size: large;
    margin-top: 0px;
    margin-left: 50px;
    margin-bottom: 0px;
}

#rjacket2 {
    font-size: large;
    margin-top: 0px;
    margin-left: 50px;
}

#totalnok {
    margin-top: 400px;
    background-color: #f2f2f2;
    padding: 10px;
    max-width: 220px;
    margin-bottom: 0px;
    margin-left: 50px;
}

#freeshipping {
    margin-top: 0px;
    background-color: #f2f2f2;
    padding:10px;
    max-width: 220px;
    margin-bottom: 0px;
    font-size: small;
    margin-left: 50px;
}



/* End of Checkout */



/* media for products */

@media (max-width:1400px) {
    .product, .products {
        grid-template-columns: repeat(3,1fr);
    }
  
}

@media (max-width:1030px) {
    .product, .products {
        grid-template-columns: repeat(2,1fr);
    }

    .column2 img {
        max-width: 100%;
        margin-left: 25px;
    }


    #h1txt {
        font-size: x-large;
        justify-content: left;
        margin-left: 30px;
        margin-bottom: 5px;
    }
    #NOKtxt {
        margin-right: -21px;
    }

    #choosesize {
        display: none;
    }

    .size-row {
        margin-top: 10px;
    }

    .aboutpictures {
        grid-template-columns: repeat(1,1fr);
    }
}


@media (max-width:952px) {

    nav ul {
        flex-wrap: wrap;
        justify-content: center;
      }
    
      nav ul li {
        margin: 10px 20px;
      }
    
      .icons {
        order: -1;
      }
      
      .icons a img {
        margin-right: 0;
      }

    .submit-form {
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(5,auto);
        gap: 1rem;
        margin:5%
    }
    #submitbutton {
        max-width: 200px;
        grid-row: 7;
        grid-column: 1/-1;
        margin-top: 2%;
        margin-left: auto;
        margin-right: auto;
    }
    .col {
        display:block;
        margin-bottom: 1rem;
    }

    header {
        font-size: medium;
    }

    #viewbutton {
        font-size: medium;
    }


    .products {
        max-width: 75%;
        grid-template-columns: repeat(2,1fr);
    }

    h2, h4 {
        font-size: large;
    }

    .filterrow, .filterbutton {
        font-size: small;
        margin-left: 5px;
    }

    .footerlist {
        flex-wrap: wrap;
        padding: 20px;
      }
      .footerlist li {
        width: 50%;
      }
      .footerlist li.about {
        position: static;
      }
      .footerlist li.about ul {
        position: static;
        display: none;
      }
      .footerlist li:hover ul {
        display: block;
      }
      .footerlist li .instalogo {
        position: static;
        transform: none;
        margin: 0 auto;
      }
}


@media (max-width: 770px) {

    nav {
        flex-direction: column;
        align-items: center;
      }
    
      nav ul li {
        margin: 10px 0;
      }
    
      .logo {
        order: -1;
        margin-bottom: 20px;
      }
      
    .product, .products {
        grid-template-columns: repeat(1,1fr);
    }

    .checkout {
        display: block;
      }
      .checkout__cart, .checkout__shipping {
        width: 100%;
        padding: 0;
      }

      .footerlist {
        flex-direction: column;
        padding: 20px;
      }
      .footerlist li {
        width: 100%;
        margin-bottom: 20px;
      }
      .footerlist li.about ul {
        display: none;
      }
      .footerlist li:hover ul {
        display: block;
      }
}


@media (max-width:770px) {
/* Hamburger menu */


.nav-toggle {
    display: none;
  }
  .nav-toggle-label {
    cursor: pointer;
    display: block;
    padding: 20px;
    position: relative;
    z-index: 1;
  }
  .nav-toggle-label span {
    background-color: rgba(10, 54, 65, 1);
    display: block;
    height: 3px;
    position: relative;
    transition: background-color 0.2s ease-out;
    width: 25px;
  }
  .nav-toggle-label span:first-child {
    transform-origin: 0 0;
  }
  .nav-toggle-label span:nth-last-child(2) {
    transform-origin: 0 100%;
  }
  .nav-toggle-label span.active {
    background-color: transparent;
  }
  .nav-toggle-label span.active:first-child {
    transform: rotate(45deg);
  }
  .nav-toggle-label span.active:nth-last-child(2) {
    transform: rotate(-45deg);
  }
  .nav-toggle-label span.active:last-child {
    transform: rotate(0);
  }
  
  /* End of hamburger menu */

}
  
  @media screen and (max-width: 770px) {
    nav ul {
      display: none;
    }
    nav ul li {
      display: block;
      margin: 10px;
    }
    .nav-toggle {
      display: block;
      position: absolute;
      right: 0;
      top: 0;
    }
    .nav-toggle:checked ~ ul {
      display: block;
    }
  }

  
  