/* Styles for across the website */
* {
    box-sizing: border-box;
}

body {
    background-color: white;
}

header{
    font-family: 'DIN Alternate', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgba(10, 54, 65, 1);
    font-size: x-large;
    text-align: center;
    display: flex;
    justify-content: center;
}

nav a:hover {
    text-decoration: underline;
}

nav ul {
    padding: 15px;
}

.active {
    text-decoration: underline;
}


h1, h2, h3 {
    font-family: 'DIN Alternate', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgba(10, 54, 65, 1);
    font-size: xx-large;
    text-align: center;
    display: flex;
    justify-content: center;
}

p {
    font-family: 'DIN Alternate', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: large;
    color:rgba(10, 54, 65, 1);
    text-align: left;
    margin: 5%;
}

nav li {
    display: inline-block;
}

nav a {
    color: rgba(10, 54, 65, 1);
    text-decoration: none;
    padding: 25px;
}

button {
    font-family: 'DIN alternate', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: x-large;
    text-align: center;
    background-color: white;
    display: flex;
    margin: auto;
    border-radius: 15px;
    border-color: rgba(10, 54, 65, 0.29);
    height: auto;
    width: auto;
    cursor: pointer;
    }

footer {
    background-color: rgba(10, 54, 65, 0.49);
    color: white;
    font-family: 'DIN Condensed', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: x-large;
    text-align: center;
    padding: 10px;
}

#filterrow {
    background:rgba(10, 54, 65, 0.1);
    padding: 0;
    margin: 0;
}

#footertextcolor {
    color: white;
    font-family: 'DIN Condensed', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: x-large;
}

#footerabout {
    width: auto;
    height: auto;
    display: inline-block;
    font-family: 'DIN condensed', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: large;
    color:white;
}

.box {
    display:flex;
    align-items:center;
    justify-content:left;
    height: 2vh;
    font-family: 'Din Condensed', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:white;
}

.form-box {
    border-radius: 30px;   
}

.form-box input {
    font-size:small;
    padding:10px 35px;
    border: none;
    outline: none;
    background:rgba(10, 54, 65, 0.29);
    color: white;
}

.form-box button {
    color: white;
    padding: 5px 10px;
    font-size: small;
    border: white;
    background-color: rgba(10, 54, 65, 0.79);
    border-radius: 5px;
    cursor: pointer;
}

img {
    width:100%
}



/* Home Page */




.products {
    display: grid;
    grid-template-columns:repeat(4, 1fr);
}


.product {

}




/* Product page */

#filterbutton {
    width: auto;
    height: auto;
    display: inline-block;
    font-size: large;
    font-family: 'DIN Alternate', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 0px;
}

/* Jacket specific */

.row {
    display: flex;
}

.column {
    flex: 50%;
}

.smallrow {
    display:flex;
    gap: 10px;
    grid-template-columns: repeat(3,1fr);
    width: 50%;
}

.row2 {
    display: flex;
}

.column2 {
    flex: 50%;
}

.column3 {
    flex: 50%;
}



.button_styled {
    font-family: 'DIN alternate', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: medium;
    text-align: center;
    background-color: white;
    display: flex;
    margin: auto;
    border-color: rgba(10, 54, 65, 0.29);
    height: auto;
    width: auto;
    cursor: pointer;
}

/* About Page */

.aboutpictures {
    display:inline;
    justify-content: center;
    max-width: 25%;

}

/* Contact Page */

form {
    padding:1rem;
    max-width: 800px;
    margin: 0 auto;
}

.form-row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}

.col {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

label {
    margin-bottom: 0.5rem;
    font-weight: bold;
}



.submit-form {
   font-family: 'DIN Alternate', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   padding-top: 20px;
   color: rgba(10, 54, 65, 1); 
   display: grid;
   grid-template-columns: repeat(2,1fr);
   gap: 2rem;
   margin: 5%;
}

#submitbutton {
    background: rgba(10, 54, 65, 0.79);
    font-family: 'DIN Alternate', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    border-radius: 0%;
    padding: 5px;
    font-size: large;
    grid-row:5;
    grid-column: 1/3;
    width:800px;
    justify-content: center;
    border: none;
    margin-bottom: 2%;
}

textarea {
    font-family: 'DIN Alternate', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

